title = "Network Service Mesh"
baseURL = "/"
languageCode = "en-us"
disableKinds = ["taxonomy", "taxonomyTerm"]

# Syntax highlighting settings
pygmentsCodefences = true
pygmentsStyle = "fruity"


[menu]
[[menu.navbar]]
name = "Docs"
url = "/docs/concepts/enterprise_users/"
weight = 1

[[menu.navbar]]
name = "Community"
url = "/community"
weight = 2

[[menu.navbar]]
name = "Events"
url = "/events"
weight = 3


# The site's parameters
[params]
twitter = "nservicemesh"
fontawesomeversion = "5.8.1"
dateFormat = "6 January 2006"
subtitle = "The Hybrid/Multi-cloud IP Service Mesh"

description = """
Network Service Mesh is a novel approach to solving complicated L2/L3 use cases in Kubernetes that are tricky to address with the existing Kubernetes Network Model. Inspired by [Istio](https://istio.io), Network Service Mesh maps the concept of a service mesh to L2/L3 payloads.
"""

explanation = """
Network Service Mesh frees individual Kubernetes Pods to network with other workloads across multiple clusters/clouds using a simple set of APIs designed to facilitate attaching those Pods to zero or more "Network Services"
that provide exactly the
* Connectivity
* Security
* Observability

they need - independent of where they are running.
"""

usecases = """
Examples:
- A common flat vL3 domain allowing DBs running in multiple clusters/clouds/hybrid to communicate just with each other for DB replication
- A single L7 Service Mesh (Istio/Linkerd/Consul/Kuma) connecting workloads running in multiple clusters/clouds/on-prem
- A single workload connecting to multiple L7 Service Meshes
- Workloads from multiple companies connecting to a single 'collaborative' Service Mesh for cross company interactions
"""

features = [
  "L3 Zero Trust",
  "Per workload granularity",
  "Per Network Service Connectivity/Security/Observability",
  "No changes to K8s",
  "Works with your existing CNI",
  "No changes to your workloads",
]

[params.logos]
cncf = "cncf-color.png"
navbar = "networkservicemesh-horizontal-color.png"
hero = "networkservicemesh-icon-color.png"



  [params.wrapper]
    enable = true
    title = "Problem Statement"
    italic = "Multifaceted networks such as Telcos, ISPs, and advanced enterprise networks are rearchitecting their solutions with the advent of NFV, 5G networks, edge computing, and IoT devices. Each of these technologies brings a significant increase in the total number of connected devices, increased bandwidth available per device, and a significant increase in cloud service load."
    paragraph = "Operators of multifaceted networks with advanced L2/L3 use cases currently find container networking solutions ill-suited for their next-generation architecture. Cloud native solution's lack of support for advanced networking use cases is actively excluding multiple industries from adopting the new cloud native paradigm."

  [params.blog]
    enable = false
    title = "Get The Latest On What We're doing"
    subtitle = "Catch up with us, anytime and anywhere"

  [params.social]
    github = "https://github.com/networkservicemesh/networkservicemesh"
    twitter = "https://twitter.com/nservicemesh"

[[params.fonts]]
name = "Nunito Sans"
sizes = [300, 400, 600, 700]
type = "sans_serif"

[[params.fonts]]
name = "Roboto Mono"
sizes = [300, 400, 600, 700]
type = "monospace"
