.is-narrow-desktop
  +desktop
    width: $docs-desktop-width

figure
  margin: 2rem 0 !important

  img
    margin-bottom: 1rem
  
  figcaption
    font-style: normal !important
    font-size: 1.75rem
    font-weight: 500

.toc
  #TableOfContents
    // H1
    ul li
      line-height: 1.5
      font-size: 1.2rem

      // H2
      ul li
        line-height: 1.5
        font-size: 1.1rem
        padding-left: .75rem
        margin-top: .2rem

        // H3
        ul li
          padding-left: 1rem
          font-size: 1rem
          margin-top: .15rem
          padding-left: 1.5rem

          // H4
          ul li
            padding-left: 2.25rem
            font-size: .9rem
            padding-top: .1rem

