<!-- Slider Start -->
<section id="docs-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <ul>
                        <li><a href="/docs/concepts/">CONCEPTS</a></li>
                        <li><a href="/docs/setup/">SETUP</a></li>
                        <li><a href="/docs/tasks/">TASKS</a></li>
                        <li><a href="/docs/tutorials/">TUTORIALS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>