<section id="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12">
            <div class="block">
                <img src="img/idea.png" alt="Img" class="img-responsive">
            </div>
        </div><!-- .col-md-5 close -->
        <div class="col-md-7 col-sm-12 ">
            <div class="block">
                <h2 class="text-uppercase">{{ .Site.Params.feature.title }}</h2>
                {{ .Site.Params.feature.content | markdownify }}
                <br />
                <br />
                {{ with .Site.Params.feature.button }}
                    <a href="{{ .url }}" class="btn btn-main">{{ .caption }}</a>
                {{ end }}
            </div>
        </div>
      </div>
    </div>
</div>
</section>
