{{ $year := now.Year }}
<footer class="footer">
  <div class="container">
    <section class="has-text-centered">
      <p class="has-text-weight-light">
        Copyright &copy; {{ $year }} The Network Service Mesh authors
      </p>
      <p class="has-text-weight-light">
        The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, 
        please see our <a href="https://www.linuxfoundation.org/legal/trademark-usage">Trademark Usage page</a>.
      </p>
    </section>
  </div>
</footer>
