<section class="hero is-black{{ with .size }} is-{{ . }}{{ end }}">
  <div class="container">
    <div class="hero-body">
      <p class="title is-size-1 is-size-2-mobile has-text-weight-light{{ if .description }} is-spaced{{ end }}">
        {{ .title }}
      </p>

      {{ with .description }}
      <p class="subtitle is-size-4 is-size-6-mobile has-text-weight-light">
        {{ . | markdownify }}
      </p>
      {{ end }}
    </div>

    {{ if .nav }}
    {{ partial "docs/nav.html" . }}
    {{ end }}
  </div>
</section>
