{{ $features    := site.Params.features }}
<section class="section">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column is-3">
        <p class="title is-size-3 has-text-weight-bold">
          Features
        </p>

        <hr class="thick" />

        <span class="icon is-large has-text-orange">
          <i class="fas fa-2x fa-power-off"></i>
        </span>
      </div>

      <div class="column is-9">
        <div class="is-size-4 is-size-5-mobile">
          Network service mesh (<strong>NSM</strong>) adds the following properties to networking in Kubernetes:
        </div>

        <br />

        <div class="columns is-multiline">
          {{ range $features }}
          <div class="column is-half">
            <div class="columns is-size-5">
              <div class="column is-1">
                <span class="icon has-text-success is-medium">
                  <i class="fas fa-check"></i>
                </span>
              </div>
              <div class="column is-11">
                {{ . | markdownify }}
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
