{{ $features    := site.Params.features }}
<section class="section">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column is-3">
        <p class="title is-size-3 is-size-4-mobile has-text-weight-bold">
          What it is
        </p>

        <hr class="thick" />

        <span class="icon is-large has-text-orange">
          <i class="fas fa-2x fa-power-off"></i>
        </span>
      </div>

      <div class="column is-9 is-size-5 is-size-6-mobile">
        <p>
          Network Service Mesh (<strong>NSM</strong>) is the Hybrid/Multi-cloud IP Service Mesh enabling:
        </p>

        <br />

        <div class="columns is-multiline">
          {{ range $features }}
          <div class="column is-half">
            <div class="columns">
              <div class="column is-1">
                <span class="icon has-text-success is-medium">
                  <i class="fas fa-check"></i>
                </span>
              </div>
              <div class="column is-11">
                {{ . | markdownify }}
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
